/* Pushed to GitHub on 7/27/2021 */
/* Dont forget to open login-form.html */

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbffcd;
    font-family: Arial, Ubuntu, sans-serif;
}

form {
    /* This form should be separated from other elements by 1em; Margin is the area outside of the border and is set for all four sides and is considered shorthand */
    /* There must be 1em between the content and the border of this element; Padding is the space between the edge of the content area and the border */
    margin: 1em;
    padding: 1em;
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    /* There must be 1em between the content and the border of this element */
    /* It should have no border */
    /* Its background should be white */
    /*1em is the same as 16px*/
    padding: 1em;
    border: none;
    background-color: white;
}

.width-80 {
    /* The element with this class should 80% of the width and it must be centered */
    /* Read how to center elements with margin here: http://learnlayout.com/margin-auto.html*/
    width: 80%;
    margin: 0 auto;
}

.form-group {
    /* This element must use 100% of the width */
    /* It should have a separation of .5em from elements on top of it and below it*/
    width: 100%;
    margin: .5em 0;
}

.form-label {
    /* The text of a label must be bold */
    font-weight: bold;
}

.btn-block {
    /* This element should use 100% of the width */
    width: 100%;
}

.btn {
    /* There must be a separation of 8px between the text and the border of this element */
    /* The text color of this element should be white and bold */
    /* The border of this element should be 1px, and its color should be light grey */
    padding: 8px;
    color: white;
    font-weight: bold;
    border: 1px lightgrey;
    background-color: #0fb784;
}

.form-control {
    /* There must be 4px on top of the text and below the text of an input with this class */
    /* It should have a separation of .5em from elements on top of it and below it */

    /* You'll need to use the `calc` function to make the width of this element match the width of the button */
    /* See the example at: https://developer.mozilla.org/en-US/docs/Web/CSS/calc */
    /* HINT: Calculate based on the padding of the `.btn` class */
    /* HINT: Examples are available at: https://glitch.com/~input-button-width */

    /*The calc() function takes a single expression as its parameter, with the expression's result used as the value. The expression can be any simple expression combining the following operators, using standard operator precedence rules: +, -, *, /. Another use case for calc() is to help ensure that form fields fit in the available space, without extruding past the edge of their container, while maintaining an appropriate margin.*/
    padding: 4px 0px;
    margin: .5em 0em;
    width: calc(100% - 4px);
    /*The - operator must be surrounded by whitespace. */
    /* width: calc(100% -4px) will be parsed as a percentage followed by a negative length which is an invalid expression but if you separate the subtraction sign from 4px, to read calc(100% - 4px), it is a percentage followed by a subtraction operator and a length.*/
}


